body {
margin:0px;
text-align:center;
font-family:sans-serif;
}

hr{
border-style:dotted none none;
width:5%;
margin:7% auto;
border-width:.35rem;
color:lightgrey;
}

.top{
background-color:skyblue;
margin:0;
position:relative;
padding-top:100px;
}

h1{
font-family:cursive;
font-size:2.5rem;
margin:0;
}

.h{
color:#007acc;
font-weight:bold;
}

h2{
color:#009999;
}

h3{
color:#006666;
font-weight:normal;
}

.bottom{
background-color:skyblue;
padding:20px;
margin-top:18px;
}

.top-cloud{
position:absolute;
left:65%;
top:50px;
}

.bottom-cloud{
position:absolute;
left:25%;
bottom:300px;
}

.mountain{
display:block;
position:relative;
left:27%;

}

.skill-row{
line-height:2;
text-align:left;
width:50%;
margin:100px auto;
}

.skillLeft{
float:left;
margin-right:10px;
height:9.1rem;
}
.skillRight{
float:right;
margin-left:10px;
height:9.1rem;
}

.btn{
border-radius:6px;
color:white;
border-color:white;
background-color:#006666;
padding:8px;
margin:auto auto 5px;
cursor:pointer;
}
.btn:hover{
font-weight:bolder;
}

a{
margin:1em 1em 1.5em;
color:#11999E;
text-decoration:none;
}
a:hover{
color:white;
}

.contact-me{
width:40%;
margin:auto;
}